* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 786px) {
  .image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .orignal-image {
    width: 100% !important;
  }

  .image-withou-bg {
    width: 100% !important;
  }

  .btn {
    width: 100% !important;
  }
}
